APP_NAME="Deep Sync Framework v5"
APP_SHORT_NAME=DeepSync
APP_URL=http://localhost:7000
APP_ENV=local
APP_DEBUG=true


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=[your_email@gmail.com](mailto:your_email@gmail.com)
MAIL_PASSWORD=your_app_password
MAIL_FROM_ADDRESS=[your_email@gmail.com](mailto:your_email@gmail.com)
MAIL_FROM_NAME="${APP_NAME}"


DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=deepsync_framework_v5
DB_USERNAME=root
DB_PASSWORD=root


APP_KEY=your app_secure_key

REALTIME_TOKEN=your_realtime_secret_token


# ⚡ REDIS / REALTIME

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
